<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rowan"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Diritti"
            android:label="Diritti"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Sviluppo"
            android:label="Sviluppo"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Kanto"
            android:label="Kanto"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Johto"
            android:label="Johto"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Hoenn"
            android:label="Hoenn"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Sinnoh"
            android:label="Sinnoh"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Unima"
            android:label="Unima"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Kalos"
            android:label="Kalos"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Alola"
            android:label="Alola"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Galar"
            android:label="Galar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PokedexActivity"
            android:label="PokedexActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".DettaglioPokemon"
            android:label="DettaglioPokemon"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>